{% load static %}
<form action="{% url 'create_person' %}" method="post"
      enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <button>Create</button>
</form>

{#<form action="{% url 'index' %}" method="post">#}
{#    {{ form2.as_p }}#}
{#    {% csrf_token %}#}
{#    <button>Send</button>#}
{#</form>#}

<h3><a href="{% url 'form_set' %}">Go to formsets</a></h3>

<ul>
    {% for person in person_list %}
        <li>
            {% if person.profile_image %}
                <img src="{{ person.profile_image.url }}" height="50px"/>

            {% else %}
                <img src="{% static 'images/person-profile-icon.png' %}" height="50px"/>

            {% endif %}
            {{ person.first_name }} {{ person.last_name }} {{ person.age }}
            <a href="{% url 'update_person' pk=person.pk %}">Edit</a>
        </li>
    {% endfor %}
</ul>

{#<h1>Custom form</h1>#}
{#<form action="{% url 'create_person' %}" method="post">#}
{#    {% for field in form %}#}
{#        <label for="{{ field.id_for_label }}">#}
{#            {{ field.label }}#}
{#            <input>#}
{#                type="{{ field.widget_type }}"#}
{#                name="{{ field.html_name }}"#}
{#                id="{{ field.id_for_label }}"#}
{#                class="form-control"#}
{#            >#}
{#        </label>#}
{#    {% endfor %}#}
{#    <button>Create</button>#}
{#</form>#}